@font-face {
  font-family: 'Proxima Nova';
  font-weight: normal;
  src: url('fonts/Proxima\ Nova\ Regular.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: lighter;
  src: url('fonts/Proxima\ Nova\ Thin.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: bold;
  src: url('fonts/Proxima\ Nova\ Bold.otf');
}

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 900;
  src: url('fonts/Proxima\ Nova\ Extrabold.otf');
}
/* ojo con este estilo cuando pase a revision*/
.header {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.home-logo {
  display: flex;
  justify-content: left;
  position: relative;;
  padding: 20px;

}
.containerx3 {
  margin-left: 200x;
  display: flex;
  justify-content: space-between;
}
.img {
    width: 100px;
    height: 37px;
}

.location-search {
  padding: 25px;
  width: 350px;
  border-radius: 15px;
  font-size: 15px;
}
.search {
  padding-top: 15px;
}
.fas fa-map-marker-alt {
     width: 7px;
     height: 4px;
     padding: 20px;
}
.dishes.container {
  position: relative;
  padding: 20px;
}
.dishes {
  display: flex;
  width: 70px;
  height: 70px;
  position: absolute;
  z-index: 20;
}
.pic1 {
  top: 0px;
}
.pic2 {
  top: 10px;
}
.pic3 {
  top: 20px;
}
.fas fa-shopping-cart {
  width: 7px;
  height: 4px;
  padding: 20px;
}
.card {
  position: relative;
  box-shadow: 0px 5px 15px -1px rgba(0,0,0,0.43);
  border-radius: 0px 0px 15px 15px;
  width: 200px;
  text-align: center;
  
}
.cart-info {
  width: 97%;
  height: 15px;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #ffffff;
  background: #353333;
  overflow: hidden;
  padding: 3px;
  margin: 0px;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  position: absolute;
  width: 180px;
  height: 35px;
  border-radius: 10px;
  box-shadow: none;
  background: linear-gradient(90deg, rgba(145,33,209,1) 0%, rgba(219,119,163,1) 100%);
  top: 45%;
  color: #ffffff;
  text-decoration: none;
  margin: auto;
  justify-content: center;
  align-items: center;
    
}